<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
        <h1>输入文档名称</h1>
        <form method="POST"> 
            <label for="model">model:</label>
            <select name="modelname" id="modelname">
<!--                <option value="transformer">transformer</option>-->
                <option value="transformerkg">transformer+kg</option>
<!--                <option value="gpt2">gpt-2</option>-->
<!--                <option value="ngram">n-gram</option>-->
            </select>
            <br><br>
            <label for="docname">docname:</label>
            <input type="text" name="docname" id="docname">
            <input type="submit" value="ok">
        </form>
        <p>文档名称用于记录编辑时间</p>
    </body>
</html>