<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='editor.md/css/editormd.min.css')}}" />
    <!-- autocomplete css needed to import -->
    <link rel="stylesheet" href="{{url_for('static',filename='autocom.css')}}">
    <!--  -->

</head>
<body>
    <p  >已经编辑的时间: <span id="editedtime">...</span>s</p>
    <input type="button" value="获取数据统计表格" onclick="getstat()">
    <p>*获取统计表格可能会因为浏览器的缓存机制而下载同一文件，可以通过清除浏览器缓存解决</p>
    <div id="editor">
        <textarea style="display:none;">### Hello Editor.md !</textarea>
    </div>
</body>
<script src="{{url_for('static',filename='jquery/dist/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='editor.md/editormd.min.js')}}"></script>
<!-- autocomplete javascript needed to import -->
<script src="{{url_for('static',filename='autocom.js')}}"></script>
<!--  -->
<script type="text/javascript">
    $SCRIPT_ROOT = "{{url_for('editmd.editor')}}";
    $(function() {
            let editortest = editormd("editor", {
            path : "{{url_for('static',filename='editor.md/lib/')}}",
            onload : function(){
                //bind ctrl+q with autocompletemd
                var keyMap={
                    "Ctrl-Q":function(cm){
                        autocompletemd(editortest);//parameter: editor.md object
                    }
                };
                this.addKeyMap(keyMap);
            }
        });
    });
    setInterval(function(){
        $.ajax({
            type:'get',
            url:$SCRIPT_ROOT+'/add5s',
            success:function(data){
                $("#editedtime").text(data);
            },
            error:function(xhr,type,xxx){
                alert("error!");
            }
        })
    },5000);
    function getstat(){
        // $.ajax({
        //     type:'get',
        //     url:$SCRIPT_ROOT+'/statistics',
        //     success:function(data){
        //         console.log('get statistic file')
        //     },
        //     error:function(xhr,type,xxx){
        //         alert("error!");
        //     }
        // })
        window.open($SCRIPT_ROOT+'/stat')
    }

</script>
</html>


